.card-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 4rem 0;

  }
  .card-container .card{
    flex-basis: 100%;
    padding: 0.8rem;
    position: relative;
    text-align: center;
  }
  .card img{
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  .card i{
    color: goldenrod;
    margin: 10px 0;
  }
  .card button{
    color: white;
    background-color: var(--secondary);
    border: none;
    outline: none;
    margin-top: 15px;
    padding: 5px 20px;

  }
  .card:hover img, .card:hover h1{
    width: 80%;
    color: var(--primary);
  }
  .card::before{
      content: '20% off';
      width: 25%;
      height: 25px;
      outline-style: 25;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary);
      padding: 0px 4px;
      transform: rotate(-20deg);


  }